.footer-section{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}


.footer-contenu{
    border-radius: 10px;
    background-color: #F5F5F5;
    border: 1px solid #F5F5F5 ;
    width: 1240px;
    height: 300px;
    padding: 50px;
    text-align: center;
}
.footer-contenu ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
.footer-contenu ul li{
    padding: 15px;
}
.footer-contenu ul li a {
    text-decoration: none;
    cursor: pointer;
    
}
.footer-contenu p{
    width: 654px;
    margin: auto;
    text-align: center;
    color: #6F6F6F;
    font-weight: 400;
    font-size: 16px;

}
 hr{
    border-color: #C1C1C1    ;
    border: 1px solid #C1C1C1 ;
}
.footer-icons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.icons{
    display: flex;
    align-items: center;
 margin: 15px;
}
.icons img{
    
margin: 5px;
}

@media screen and (max-width:1100px) {
    .footer-section{
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .footer-contenu{
        border-radius: 10px;
        background-color: #F5F5F5;
        border: 1px solid #F5F5F5 ;
        width: 100%;
        height: auto;
        padding: 15px;
        text-align: center;
        justify-content: center;
        align-items: center;

    }



    
.footer-contenu ul{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
.footer-contenu ul li{
    padding: 3px;
    font-size: 13px;
}
.footer-contenu ul li a {
    text-decoration: none;
    cursor: pointer;
    
}
.footer-contenu p{
    width: 200px;
    margin: auto;
    text-align: center;
    color: #6F6F6F;
    font-weight: 400;
    font-size: 12px;

}

hr{
    border-color: #C1C1C1    ;
    border: 1px solid #C1C1C1 ;
    width:90px;
}
.footer-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
.icons{
    display: flex;
    align-items: center;
 margin: 0px;
}
.icons img{
    width: 15px;
    height: 15px;
margin: 5px;
}

}